*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background: black;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative;
    padding-top: 10px;
}

.container .closeToggle{
    position: absolute;
    right: 2em;
    color: white;
}

.closeToggle a{
    color: white;
    cursor: pointer;
}


.container .instructions{
    color: white;
    position: relative;
    margin-left: 20px;
}

.instructions .userNameDisplay{
    padding-top: 30px;
}

.command{
    margin-top: 20px;
}

.command h4{
    margin-top: 30px;
}

.command p{
    margin-top: 20px;
}



.inputContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.inputContainer input{
    padding: 10px;
    width: 100%;
    outline: none;
}

.inputContainer button{
    padding: 12px 26px;
    border: 0;
    background: blueviolet;
    color: white;
}